<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <% if task.completed == true %>
      <li>[x]<%= link_to task.title, task_path(task) %></li>
    <% else %>
      <li>[ ]<%= link_to task.title, task_path(task) %></li>
    <% end %>
  <% end %>
</ul>


<!-- <i class="far fa-check-square"></i>
<i class="far fa-square"></i> -->


